html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-right > li > a.portrait {
    padding-top: 10px;
    padding-bottom: 0;
}

.navbar-right > li > a.portrait img {
    border: #ccc solid 1px;
    width: 32px;
    height: 32px;
}

.box-title {
    color:#333;
    font-size: 18px;
    border-bottom: 2px solid #cbcbcb;
    padding-bottom: 5px;
}

.panel-body {
    padding: 15px 0 5px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.site-index-jumbotron-img {
    width: 100%;
    margin-bottom: 25px;
}


/*layout main.php*/

.layout-logo {
    height: 45px;
    width: 230px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-top: 0px dashed gray;
    border-left: 0px dashed gray;
    border-right: 0px dashed gray;
    border-bottom: 2px solid #2472bc;
}

.navbar-inverse .navbar-brand {
    color: #343d46;
}

.navbar-inverse .navbar-nav > li > a {
    color: #343d46;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #2472bc;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #2472bc;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2472bc;
}

.dropdown-menu {
    min-width: 125px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2472bc;
}

/*文章详情页样式*/
.page-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.page-title h1 {
    font-size: 24px;
    margin: 4px 0 10px;
}

.page-title span {
    color: #999;
    font-size: 12px;
    margin-right: 5px;
}

.page-content {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    min-height: 400px;
}

.posts-mine-table {
    width: 100%;
    border: 1px;
}

.post-view-writeComments {
    padding-top: 15px;
}

.post-view-writeComments > form > div > label {
    font-size: 20px;
    color: gray;
}

.post-view-writeComments > form > div > button {
    width: 100%;
}

.allComments {
    font-weight: bold;
    font-size: 20px;
    color: gray;
}



/*我的资讯页*/
.posts-mine-table tr th {
    height: 50px;
}

.posts-mine-table tr td {
    height: 30px;
}

.posts-mine-table tr td img{
    width: 50px;
    height: 50px;
}

.post-label-mine {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
    border-radius: 0;
    margin-bottom: 5px;
    position: relative;
}

.post-label-mine > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70px;
    width: 100%;
}

.pull-right-mine {
    margin-top: -50px;
    float: right !important;
}

/*打赏我们*/
.site-contact-PayImg {
    width: 100%;
}

/*资讯列表页*/
.panel-body h1 {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
}

.post-label {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 1.42857;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
    border-radius: 0;
    margin-bottom: 5px;
    position: relative;
}

.post-label > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    width: 100%;
}


.post-tags {
    color: #999;
    font-size: 12px;
}

.post-tags span {
    margin-right: 4px;
}

.post-tags a {
    color: #999;
}

.tags {
    font-size: 12px;
    margin-left: 2px;
}

.font-12 {
    font-size: 12px;
}

.btn-warning:hover {
    color: #fff;
    background-color: #2472bc;
    border-color: #102c71;
}

//评级页
